body
{
width:100%;
max-width:100%;

margin:0;
padding:5px;
}
ul
{
list-style-position:inside
}
h1
{
 color:#fec053;
}
.debug{
position:fixed;
top:0;
left:0;
width:100%;
height:40px;
font-size:14px;
background:#000;
color:#fff;
}